<div class="clients-col1">
  <p>SENTIERS PRIVÉS</p>
  <p>GVQ - GROUPES VOYAGES QUÉBEC</p>
  <p>PURSUIT COLLECTION</p>
  <p>RARE INDIGO VENTURES INC.</p>
  <p>BANFF DMC</p>
  <p>SUNDOG</p>
  <p>GUIDE ME BANFF</p>
  <p>BANFF AIRPORTER</p>
</div>
<div class="clients-col2">
  <p>CANTRAV SERVICES INC.</p>
  <p>ENTRÉE DESTINATIONS</p>
  <p>ROUND THE BLOCK TOURS</p>
  <p>PACIFIC DESTINATION SERVICES INC.</p>
  <p>TOURS BY LOCALS</p>
  <p>JPdL - JP de LAVISON</p>
  <p>BELL TOURS</p>
  <p>CMH - Canadian Mountain Holidays</p>
  <p>ROCKY MOUNTAINEER</p>
</div>
