---
---
// @import "main";

/* GLOBAL STYLES */
html {
  font-size: 16px;
  font-family: 'Didact Gothic', sans-serif;
}
body {
  background-color: #593d11;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*
h1 {
  font-size: 7vw;
  margin-top: 0;
}*/
h2 {
  color: #7cccbf;
  font-size: 1.5rem;
  line-height: 1.85;
}
/*a {
  color: #6397b5;
}*/
p {
  font-size: 1.125rem;
  line-height: 1.3;
}


.content-container {
  //background-color: #aaa;
  //flex-grow: 1;
  color: white;
  font-size: 1.2em;
  left: 50%;
  position: absolute;
  top: 6vh;
  transform: translate(-50%, 3rem);
  width: 80%;
}

/* HEADER STYLES */
.header {
      background-color: #482e08;
      border-bottom: 5px dotted #6ad1c1;
      box-sizing: border-box;
      color: #ab9f8d;
      left: 50%;
      padding: 1rem 1rem;
      position: fixed;
      transform: translate(-50%,0);
      width: 80%;
      z-index: 20;
}
/* (sub) PAGES MENU STYLES */
.header-nav {
  float: left;
  padding-left: 10px;
}
.header-nav > li {
  display: inline-block;
  margin-right: 1em;
}
.header-nav a {
  color: #ab9f8d;
  text-decoration: none;
}
.header-nav a:hover,
.header-nav a:active,
.current-page a {
  color: #6ad1c1;
}

/* (sub) LANGUAGES MENU STYLES */
.header-nav-languages {
  float: right;
  padding-right: 10px;
}
.header-nav-languages > li {
  display: inline-block;
  margin-left: 1em;
  //border: 1px solid;
  //border-radius: 5px;
}
.header-nav-languages a {
  color: #ab9f8d;
  text-decoration: none;
}
.header-nav-languages a:hover,
.header-nav-languages a:active,
.current-language a {
  color: #6ad1c1;
}

/* LOGO STYLES */

.header-logo {
  padding-bottom: 10vh;
  position: relative;
  left: 0%;
  top: 0%;
  /* for brand name: */
  color: white;
  display: inline-block;
  font-family: 'Quattrocento', serif;
  font-size: 3rem;
  font-weight: bolder;
}
.header-logo:hover,
.header-logo:active {
  opacity: 0.8;
}
.header-logo img {
  height: 10vh;
  max-height: 2rem;
}

/* FOOTER STYLES */
.footer {
  background-color: #593d11;
  border-top: 2px solid #6ad1c1;
  bottom: 0px;
  color: white;
  font-size: 0.8rem;
  left: 50%;
  min-height: 1.2rem;
  padding: 0.2rem 0 0 0;
  position: fixed;
  text-align: center;
  transform: translate(-50%,0);
  width: 80%;
  z-index: 20;
}


/* specific STYLES */
