---
---
// @import "main";

/* GLOBAL STYLES */
html {
  font-size: 16px;
  font-family: 'Didact Gothic', sans-serif;
}
body {
  background-color: #593d11;
  // flex properties:
  display: flex;
  flex-direction: column;
  min-height: 100vh; // or height: 100%; ?
}
h1 {
  color: white;
  font-size: 1.5rem;
  line-height: 1.3em;
  padding: 5vh 10px 2vh 10px;
}
h2 {
  color: #7cccbf;
  font-size: 1.5rem;
  line-height: 1.85em;
}
h3 {
  color: #7cccbf;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.3em;
}
p {
  font-size: 1.125rem;
  line-height: 1.3em;
  padding-bottom: 1em;
}

.content-container {
  color: white;
  flex-grow: 1;
  // ?? flex: 1 0 auto;
  font-size: 1.2em;
  left: 50%;
  padding-top: 4rem; // height of menu bar
  padding-bottom: 2rem; // height of footer
  position: relative;
  transform: translate(-50%,0);
  width: 80%;
}
//.content-container:after { content: "test"; }

/* HEADER STYLES */
.header {
      background-color: #482e08;
      border-bottom: 5px dotted #6ad1c1;
      box-sizing: border-box;
      color: #ab9f8d;
      flex-grow: 0; // flex
      left: 50%;
      padding: 1rem 1rem;
      position: fixed;
      transform: translate(-50%,0);
      width: 80%;
      z-index: 20;
}
/* (sub) PAGES MENU STYLES */
.header-nav {
  float: left;
  padding-left: 10px;
}
.header-nav > li {
  display: inline-block;
  margin-right: 1em;
}
.header-nav a {
  color: #ab9f8d;
  text-decoration: none;
}
.header-nav a:hover,
.header-nav a:active,
.current-page a {
  color: #6ad1c1;
}

/* (sub) LANGUAGES MENU STYLES */
.header-nav-languages {
  float: right;
  padding-right: 10px;
}
.header-nav-languages > li {
  display: inline-block;
  margin-left: 1em;
}
.header-nav-languages a {
  color: #ab9f8d;
  text-decoration: none;
}
.header-nav-languages a:hover,
.header-nav-languages a:active,
.current-language a {
  color: #6ad1c1;
}

/* FOOTER STYLES */
.footer {
  display: none;
  background-color: #593d11;
  border-top: 1px dashed #6ad1c1;
  bottom: 0px;
  color: #ccc;
  flex-grow: 0; // flex
  font-size: 0.8rem;
  left: 50%;
  min-height: 1.2rem;
  //opacity: 50%;
  padding: 0.2rem 0 0 0;
  position: fixed;
  text-align: center;
  transform: translate(-50%,0);
  width: 80%;
  z-index: 20;
}

/* specific STYLES */
/* CSS for the default layout {{ content }} */

/* LOGO STYLES */

.header-logo {
  flex-grow: 0; // flex
  margin-top: 5vh;
  padding: 10px 10px;
  position: relative;
  left: 0%;
  top: 0%;
  //for brand name:
  color: white;
  display: inline-block;
  font-family: 'Quattrocento', serif;
  font-size: 3rem;
  font-weight: 900;
}
.header-logo:hover,
.header-logo:active {
  opacity: 0.8;
}
.header-logo img {
  height: 10vh;
  max-height: 2rem;
}


/* the container is .content-container characterized in default.html { flex-grow: 1; } */
/* the container contains element .header-logo { flex-grow: 0; } */
.top-photo {
  //border: 15px double #6ad1c1;
  flex-grow: 0;
  margin: 10vh 10px 10px 10px;
}

.top-photo img {
  box-sizing: border-box;
  border: 10px solid #6ad1c1;
  border-radius: 12px;
  width: 100%;
}

/* main homepages layouts with 2 columns */
.columns {
  align-items: flex-start;
  display: flex;
  flex-direction: row; // row is default
  padding-top: 5vh;
}
.col1 {
  flex-basis: 40em; // auto is default
  flex-grow: 0; // 0 is default
  flex-shrink: 1; // 1 is default
  padding: 10px 50px 10px 10px;
  text-align: justify;
}
.col1 img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 8px solid white;
}
.col2 {
  flex-basis: 17em; // auto is default
  flex-grow: 0; // 0 is default
  flex-shrink: 1; // 1 is default
  padding: 10px 10px 10px 10px;
}
.col2 p {
  font-size: 1em;
}
.col2 img {
  width: 100%;
  height: auto;
}
.contact-text {
  color: #faed93;
  line-height: 1.4em;
  text-align: right;
  padding-top: 0.175rem;
}

/* sub layout for hompage > clients in 2 columns */
.clients-columns {
  align-items: flex-start;
  display: flex;
  flex-direction: row; // row is default
  padding-top: 5vh;
}
.clients-col1 {
  flex-basis: 50%; // auto is default
  flex-grow: 0; // 0 is default
  flex-shrink: 1; // 1 is default
}
.clients-col2 {
  flex-basis: 50%; // auto is default
  flex-grow: 0; // 0 is default
  flex-shrink: 1; // 1 is default
  text-align: right;
}
.clients-step-on {
  color: #cf0;
  font-size: 1.1rem;
  //font-size: 0.875rem;
  //font-weight: bold;
  line-height: 1.85em;
  text-align: center;
}

/* ABOUT layouts with 2 columns */
.columns {
  align-items: flex-start;
  display: flex;
  flex-direction: row; // row is default
  padding-top: 5vh;
}
.col3 {
  flex-basis: 40em; // auto is default
  flex-grow: 0; // 0 is default
  flex-shrink: 1; // 1 is default
  padding: 10px 50px 10px 10px;
  text-align: justify;
}
.col3 img {
  width: 50%;
  height: auto;
  box-sizing: border-box;
  border: 10px solid white;
  float: left;
  margin-right: 2vh;
  margin-bottom: 2vh;
}
.col4 {
  flex-basis: 20em; // auto is default
  flex-grow: 0; // 0 is default
  flex-shrink: 1; // 1 is default
  padding: 10px 10px 10px 10px;
}
.col4 img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border: 10px solid white;
}

/* CSS for MEDIA QUERY smaller screens */

@media (max-width: 800px) {
  /* GLOBAL STYLES */
  h1 {
    color: white;
    font-size: 1.5rem;
    line-height: 1.3em;
    padding: 5vh 10px 2vh 10px;
  }
  h2 {
    color: #7cccbf;
    font-size: 1.5rem;
    line-height: 1.85em;
  }
  h3 {
    color: #7cccbf;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.3em;
  }
  .content-container {
    width: 100%;
  }
  /* HEADER STYLES */
  .header {
        width: 100%;
  }
  /* specific STYLES */
  /* CSS for the default layout {{ content }} */
  .top-photo img {
    border: 5px solid #6ad1c1;
  }
  /* main homepages layouts with 2 columns */
  .columns {
    flex-direction: column; // row is default
    min-width: 100%;
    //min-height: 100vh;
  }
  .col1 {
    padding: 10px 10px 10px 10px;
  }
  .col1 img {
    border: 4px solid white;
  }
  .col2 {
    flex-basis: auto; // auto is default
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
  }
  .col2 p {
    border-top: 1px solid #777;
    font-size: 1.2em;
    padding-top: 4vh;
  }
  .col2 img {
    width: 100%;
    height: auto;
  }
  .contact-text {
    text-align: center;
  }

  /* sub layout for hompage > clients in 2 columns */
  .clients-columns {
    flex-direction: column; // row is default
  }
  .clients-col2 {
    text-align: left;
  }

  /* ABOUT layouts with 2 columns */
  .columns {
    flex-direction: column; // row is default
  }
  .col3 {
    padding: 10px 10px 10px 10px;
  }
  .col3 img {
    border: 5px solid white;
  }
  .col4 {
    margin-left: auto;
    margin-right: auto;
  }
  .col4 img {
    border: 6px solid white;
  }
}

@media (max-width: 400px) {
  .top-photo {
    display: none;
  }
}
