---
---
// @import "main";

/* GLOBAL STYLES */
html {
  font-size: 16px;


}
body {
  background-color: #593d11;
  display: flex;
  flex-direction: column;
  font-family: 'Didact Gothic', sans-serif;
  //font-family: helvetica, arial, sans;
  //line-height: 1;
  min-height: 100vh;
}

.content-container {
  flex-grow: 1;
}

/* HEADER STYLES */
.header {
      background-color: #482e08;
      box-sizing: border-box;
      color: #ab9f8d;
      //height: 5vh;
      margin: auto;
      padding: 16px 16px;
      //position: fixed;
      width: 80%;
      //z-index: 20;
}
/* (sub) PAGES MENU STYLES */
.header-nav {
  float: left;
  padding-left: 10px;
}
.header-nav > li {
  display: inline-block;
  margin-right: 1em;
}
.header-nav a {
  color: #ab9f8d;
  //font-size: 1rem;
  text-decoration: none;
}
.header-nav a:hover,
.header-nav a:active,
.current-page a {
  color: #6ad1c1;
}


/* (sub) LANGUAGES MENU STYLES */
.header-nav-languages {
  float: right;
  padding-right: 10px;
}
.header-nav-languages > li {
  display: inline-block;
  margin-left: 1em;
  //border: 1px solid;
  //border-radius: 5px;
}
.header-nav-languages a {
  color: #ab9f8d;
  //font-size: 1rem;
  text-decoration: none;
}
.header-nav-languages a:hover,
.header-nav-languages a:active,
.current-language a {
  color: #6ad1c1;
}

/* LOGO STYLES */

.header-logo {

  //bottom:50px;
  //height:10vh;
  //padding-top: 10px;
  //position:absolute;
  position: relative;
  text-align: left;
  /*transform: translate(-50%, -50%);*/
  //width: 10vh;
}
.header-logo:hover,
.header-logo:active {
  opacity: 0.75;
}
.header-logo img {
  width: 10vh;
}


//.header-logo:hover {
//  opacity: 0.5;
//}


/* FOOTER STYLES */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: left;
}



/* specific STYLES */
