---
layout: default
---

<div class="header-logo">
  <img src="{{ "/assets/img/logo.png" | relative_url }}" alt="Ubqtours">
  UBQTOURS
</div>

<div class="top-photo">
  <img src="{{ "/assets/img/about-1-top.png" | relative_url }}" alt="High Valleys">
</div>


<div class="columns">

  <div class="col3">
    <img src="{{ "/assets/img/about-2.jpg" | relative_url }}" alt="Ubqtours">
    {{ content }}
  </div>

  <div class="col4">

    <img src="{{ "/assets/img/about-3.jpg" | relative_url }}" alt="Lake mountain">
      <br>
      <br>
    <img src="{{ "/assets/img/about-4.jpg" | relative_url }}" alt="Deer bird">
      <br>
      <br>
    <img src="{{ "/assets/img/about-5.jpg" | relative_url }}" alt="Winter">
  </div>
  <hr>
</div>
