<!DOCTYPE html>
<html lang="{{ page.language }}">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{{ "/assets/css/reset.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="{{ "/assets/img/favicon.png" | relative_url }}">

    {% assign pages=site.pages | where:"language-ref", page.language-ref %}
    {% for page in pages %}
      <link rel="alternate" hreflang="{{ page.language }}" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />
    {% endfor %}
  </head>

  <body>
    {% include header.html %}
    <div class="content-container">
      {{ content }}
    </div>
    {% include footer.html %}
  </body>

</html>
